<section ng-controller="RecipesController" ng-init="find()">
    <div class="page-header">
        <h1>
            Рецепты
        </h1>
    </div>
    <div class="alert alert-warning text-center" ng-if="!recipes.length">
        Пока нет ни одного рецепта, так почему бы не <a ui-sref="recipes.create">создать один</a>?
    </div>
    <div ng-if="recipes.length">
        <form>
        <div class="pull-right" ng-show="authentication.user.roles.indexOf('user') != -1">
            <a class="btn btn-primary" ui-sref="recipes.create">
                <span class="glyphicon glyphicon-plus">
                    Новый рецепт
                </span>
            </a>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </div>
                <input type="text" class="form-control" placeholder="Найти по названию" ng-model="filterRecipes">
            </div>
        </div>
        </form>    
    </div>
    <div class="list-group">
        <a ng-repeat="recipe in recipes | filter:filterRecipes | limitTo:quantity" ui-sref="recipes.view({recipeId: recipe.id})" class="list-group-item">
            <div class="row">
                <div class="col-md-2">
                    <span ng-if="recipe.image">
                        <img ng-src="{{imageurl}}{{recipe.image}}" class="img-thumbnail user-profile-picture">
                    </span>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading" ng-bind="recipe.title"></h4>
                    <p class="list-group-item-text" ng-bind="recipe.infoCard"></p>
                    <small class="list-group-item-text"> 
                        Опубликован
                        <span ng-bind="recipe.createdAt | date:'mediumDate'"></span>
                        за авторством 
                        <span ng-bind="recipe.user.username"></span>
                        <span class="glyphicon glyphicon-eye-close" ng-show="recipe.isPrivate">
                            Секретный
                        </span>
                    </small>
                </div>
            </div> 
        </a>
    </div>
</section>