<section ng-controller="RecipesController">
    <div class="page-header">
        <h1>
            Новый рецепт
        </h1>
    </div>
    <div class="col-md-12">
        <form name="recipeForm" class="form-horizontal" ng-submit="create(recipeForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group" show-errors>
                    <label for="title">
                        Название
                    </label>
                    <input name="title" type="text" ng-model="title" id="title" class="form-control" required
                        placeholder="Исчерпывающий заголовок рецепта до 250 символов" >
                    <div ng-messages="recipeForm.title.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">
                            Название рецепта обязательно
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="infoCard">
                        Пояснение и описание
                    </label>
                    <textarea name="infoCard" ng-model="infoCard" id="infoCard" class="form-control" cols="30" rows="10" 
                        placeholder="Информация, видимая в списке рецептов рядом с картинкой рецепта">
                    </textarea>
                </div>
<!-- TODO картинка рецепта -->
                <div class="row">
                    <div class="form-group col-md-2">
                        <label for="portions">
                            Количество порций
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon" ng-hide="portions == 1 || portionsEdit">
                                <a class="btn btn-link btn-xs" data-nodrag ng-click="portions = portions - 1">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </a>
                            </span>
                            <a class="btn btn-default btn-block" ng-click="portionsEdit = true" ng-hide="portionsEdit">
                                {{portions}}
                            </a>
                            <input class="form-control" type="number" ng-model="portions" ng-show="portionsEdit"
                                placeholder="Количество" >
                            <span class="input-group-addon" ng-show="portionsEdit">
                                <a class="btn btn-link btn-xs" data-nodrag ng-click="portionsEdit = false">
                                    <span class="glyphicon glyphicon-random"></span>
                                </a>
                            </span>
                            <span class="input-group-addon" ng-hide="portionsEdit">
                                <a class="btn btn-link btn-xs" data-nodrag ng-click="portions = portions + 1">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-1"></div>
                    <div class="form-group col-md-8">
                        <label for="content" ng-show="ingridientData.length > 0">
                            Главный ингредиент
                        </label>
                        <input type="text" class="form-control" ng-show="ingridientData.length > 0" ng-model="mainIngridient" bs-select bs-options="obj.index as obj.caption for obj in ingridientData" 
                            placeholder="Выберите главный ингредиент рецепта"
                        >
                    </div>
                </div>
                <div class="form-group">
                    <label for="ingridients">
                        Ингредиенты
                    </label>
                    <div class="col-md-12">
                        <table ui-tree="treeIngridients" id="tree-root-ingridient" class="table table-responsive" data-drag-delay="100">
                            <thead>
                                <tr>
                                    <th>
                                        <label for="ingridientIndex" ng-show="ingridientData.length>0">
                                            Порядок
                                        </label>
                                    </th>
                                    <th width="60%">
                                        <label for="tree-root-ingridient" ng-show="ingridientData.length>0">
                                            Количество
                                        </label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody ui-tree-nodes ng-model="ingridientData">
                                <tr ng-repeat="ingridient in ingridientData" ui-tree-node>
                                    <td>
                                        <strong>{{ingridient.index+1}}</strong>
                                        <i class="glyphicon glyphicon-sort" ui-tree-handle></i>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-7">
                                                {{ingridient.caption}}
                                                <div class="input-group">
                                                    <span class="btn btn-link btn-xs" ng-show="ingridient.infoCard" ng-click="ingridient.info = !ingridient.info">
                                                        <span class="glyphicon glyphicon-text-background"></span>
                                                    </span>
                                                    <span ng-if="ingridient.image" ng-show="ingridient.info">
                                                        <img ng-src="{{imageurl}}{{ingridient.image}}" class="img-thumbnail user-profile-picture">
                                                    </span>
                                                    <p ng-bind="ingridient.infoCard" ng-show="ingridient.info"></p>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="input-group" ng-hide="ingridient.measure.min==0">
                                                    <span class="input-group-addon" ng-hide="ingridient.isConvert || ingridient.isPopover">
                                                        <a class="btn btn-link btn-xs" data-nodrag ng-click="amountMinus(ingridient)" id="amountMinus">
                                                            <span class="glyphicon glyphicon-minus"></span>
                                                        </a>
                                                    </span>
                                                    <span class="input-group-addon" ng-hide="ingridient.isConvert || ingridient.isPopover">
                                                        <a class="btn btn-link btn-xs" ng-click="ingridient.isPopover = true">
                                                            {{ingridient.amount}}
                                                        </a>
                                                    </span>
                                                    <span class="input-group-addon" ng-hide="ingridient.isConvert || ingridient.isPopover" >
                                                        <a class="btn btn-link btn-xs" ng-click="converter(ingridient)">
                                                            {{ingridient.measure.caption}}
                                                        </a>
                                                    </span>
                                                    <span class="input-group-addon" ng-show="ingridient.isConvert">
                                                        <a class="btn btn-link btn-xs" ng-click="ingridient.isConvert=false">
                                                            <span class="glyphicon glyphicon-menu-left"></span>    
                                                            {{ingridient.amount}} {{ingridient.measure.caption}}
                                                        </a>
                                                    </span>
                                                    <span ng-show="ingridient.isPopover">
                                                        <input class="form-control" type="number" ng-model="ingridient.amount" 
                                                               placeholder="Количество" 
                                                        >
                                                    </span>
                                                    <span ng-show="ingridient.isConvert && ingridient.selectedMeasure==''">
                                                        <input type="text" class="form-control" ng-model="ingridient.selectedMeasure" bs-select bs-options="obj.caption as obj.caption for obj in measuresList"
                                                            placeholder="Выберите вариант"
                                                        > 
                                                    </span>
                                                    <span class="input-group-addon" ng-show="ingridient.isPopover || (ingridient.isConvert  && ingridient.selectedMeasure!='')">
                                                        <a class="btn btn-secondary btn-xs" ng-click="amountApply(ingridient)">
                                                            <span ng-show="ingridient.isConvert">
                                                                {{ingridient.selectedMeasure}}
                                                            </span>
                                                            <span class="glyphicon glyphicon-ok"></span>
                                                        </a>
                                                    </span>
                                                    <span class="input-group-addon" ng-hide="ingridient.isConvert || ingridient.isPopover">
                                                        <a class="btn btn-link btn-xs" ng-click="amountPlus(ingridient)" id="amountPlus">
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                        </a>
                                                    </span>
                                                </div>
                                                <div class="input-group" ng-show="ingridient.measure.min==0">
                                                    <span class="input-group-addon" ng-hide="ingridient.isConvert">
                                                        <a class="btn btn-link btn-xs" ng-click="converter(ingridient)">
                                                            {{ingridient.measure.caption}}
                                                        </a>
                                                    </span>
                                                    <span class="input-group-addon" ng-show="ingridient.isConvert">
                                                        <a class="btn btn-link btn-xs" ng-click="ingridient.isConvert=false">
                                                            <span class="glyphicon glyphicon-menu-left"></span>    
                                                            {{ingridient.measure.caption}}
                                                        </a>
                                                    </span>
                                                    <span ng-show="ingridient.isPopover || (ingridient.isConvert  && ingridient.selectedMeasure!='')">
                                                        <input type="text" class="form-control" ng-show="ingridient.isConvert" ng-model="ingridient.selectedMeasure" bs-select bs-options="obj.caption as obj.caption for obj in measuresList"
                                                            placeholder="Выберите вариант" 
                                                        > 
                                                    </span>
                                                    <span class="input-group-addon" ng-show="ingridient.isPopover || (ingridient.isConvert  && ingridient.selectedMeasure!='')">
                                                        <a class="btn btn-secondary btn-xs" ng-click="amountApply(ingridient)">
                                                            {{ingridient.selectedMeasure}}
                                                            <span class="glyphicon glyphicon-random"></span>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeIngridient(this)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="selectedIngridient" bs-typeahead select-mode="true" bs-options="obj.id as obj.caption for obj in getIngridientList()"
                                placeholder="Поиск ингредиента для добавления"
                            >
                            <span class="input-group-addon" ng-click="newIngridient(selectedIngridient)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </span> 
                        </div> 
                    </div>
                </div>
                <div class="form-group">
                    <label for="steps">
                        Инструкции
                    </label>
                    <div class="col-md-12">
                        <table ui-tree="treeSteps" id="tree-root-step" class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>
                                        <label for="stepIndex" ng-show="stepData.length>0">
                                            Порядок
                                        </label>
                                    </th>
                                    <th width="80%">
                                        <label for="stepData" ng-show="stepData.length>0">
                                            Действие
                                        </label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody ui-tree-nodes ng-model="stepData">
                                <tr ng-repeat="step in stepData" ui-tree-node>
                                    <td>
                                        <strong>{{step.index+1}}</strong>
                                        <span class="glyphicon glyphicon-sort" ui-tree-handle></span>
                                    </td>
<!-- TODO картинка шага -->
                                    <td>
                                        <div class="form-group">
                                            <textarea name="action" ng-model="step.action" id="action" class="form-control" cols="30" rows="3" 
                                                placeholder="Опишите действие на текущем шаге">
                                            </textarea>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeStep(this)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="actionStep"
                                placeholder="Введите новое действие и нажмите +"
                            >
                            <span class="input-group-addon" ng-click="newStep()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </span> 
                        </div> 
                    </div>
                </div>               
                <div class="form-group">
                    <label for="content">
                        Примечания
                    </label>
                    <textarea name="content" ng-model="content" id="content" class="form-control" cols="30" rows="10"
                        placeholder="Это дополнительная информация, показывающаяся после рецепта. Здесь можно описать какие ингредиенты можно добавить или заменить">
                    </textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div ng-show="error" class="text-center alert alert-danger">
                    <strong ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
