<section ng-controller="IngridientsController">
    <div class="page-header">
        <h1>
            Новый ингредиент
        </h1>
    </div>
    <div class="col-md-12">
        <form name="ingridientForm" class="form-horizontal" ng-submit="create(ingridientForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group" show-errors>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="file">
                                Картинка
                            </label>
                            <input type="file" nv-file-select="" uploader="uploader" />
                            <div ng-repeat="item in uploader.queue"
                                ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }">
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-6">
                            <br /><br />
                            <label for="caption">
                                Наименование
                            </label>
                            <input name="caption" type="text" ng-model="caption" id="caption" class="form-control" required
                                placeholder="Наименование" >
                            <div ng-messages="ingridientForm.caption.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">
                                    Наименование ингредиента обязательно
                                </p>
                            </div>
                            <hr>
                            <label for="infoCard">
                                Описание
                            </label>
                            <textarea name="infoCard" ng-model="infoCard" id="infoCard" class="form-control" cols="30" rows="5" 
                                placeholder="Информация об ингредиенте, видимая вместе с картинкой в подсказках к рецептам">
                            </textarea>
                            <hr>
                            <label>
                                Единица измерения по умолчанию&nbsp;
                            </label>
                            <input type="text" class="form-control"
                                ng-model="measureDefault"
                                data-animation="am-flip-x"
                                bs-options="obj.id as obj.caption for obj in getMeasuresList()"
                                placeholder="Эта единица выбирается при добавлении в рецепт"
                                bs-typeahead
                            >
                        </div>
                    </div> 
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div ng-show="error" class="text-center alert alert-danger">
                    <strong ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>