<section ng-controller="IngridientsController" ng-init="find()">
    <div class="page-header">
        <h1>
            Справочник ингредиентов
        </h1>
    </div>
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </div>
                <input type="text" class="form-control" ng-model="filterIngridients" 
                    placeholder="Поиск ингредиента">
            </div>
        </div>
    </form>
    <div class="list-group">
        <a ng-repeat="ingridient in ingridients | filter:filterIngridients"
           ui-sref="ingridients.view({ingridientId: ingridient.id})" 
           class="list-group-item">
            <div class="row">
                <div class="col-md-2">
                    <span ng-if="ingridient.image">
                        <img ng-src="{{imageurl}}{{ingridient.image}}" class="img-thumbnail user-profile-picture">
                    </span>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading" ng-bind="ingridient.caption"></h4>
                    <p class="list-group-item-text" ng-bind="ingridient.infoCard"></p>
                </div>
            </div>           
        </a>
    </div>
    <div class="alert alert-warning text-center" ng-if="!ingridients.length">
        Справочник пока пуст, так почему бы не <a ui-sref="ingridients.create">добавить ингредиент</a>?
    </div>
</section>