<section ng-controller="IngridientsController" ng-init="findOne()">
    <div class="page-header">
        <h1>
            Edit Ingridient
        </h1>
    </div>
    <div class="col-md-12">
        <form name="ingridientForm" class="form-horizontal" ng-submit="update(ingridientForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group" show-errors>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="image">
                                Image
                            </label>
                            <input type="file" nv-file-select="" uploader="uploader" />
                            <span ng-if="ingridient.image">
                                <img ng-src="{{imageurl}}{{ingridient.image}}" class="img-thumbnail user-profile-picture">
                            </span>
                            <div ng-repeat="item in uploader.queue"
                                ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }">
                            </div>    
                        </div>
                        <div class="col-md-6">
                            <br /><br />
                            <label for="caption">
                                Caption
                            </label>
                            <input name="caption" type="text" ng-model="ingridient.caption" id="caption" class="form-control" placeholder="Caption" required>
                            <div ng-messages="ingridientForm.caption.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">
                                    Ingridient title is required.
                                </p>
                            </div>
                            <hr>
                            <label for="infoCard">
                                InfoCard
                            </label>
                            <textarea name="infoCard" ng-model="ingridient.infoCard" id="infoCard" class="form-control" cols="30" rows="5" placeholder="infoCard"></textarea>
                            <label>
                                Measure default:&nbsp;
                            </label>
                            <input type="text" class="form-control"
                                ng-model="ingridient.measureDefault"
                                data-animation="am-flip-x"
                                bs-options="obj.id as obj.caption for obj in getMeasuresList()"
                                placeholder="Measure"
                                bs-typeahead
                            >
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
                <div ng-show="error" class="text-center alert alert-danger">
                    <strong ng-bind="error">
                    </strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>