<section ng-controller="ProductsController">
    <div class="page-header">
        <h1>
            New Product
        </h1>
    </div>
    <div class="col-md-12">
        <form name="ProductForm" class="form-horizontal" ng-submit="create(ProductForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group" show-errors>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="file">
                                Image
                            </label>
                            <input type="file" nv-file-select="" uploader="uploader" />
                            <div ng-repeat="item in uploader.queue"
                                ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <br /><br />
                            <label for="caption">
                                Caption
                            </label>
                            <input name="caption" type="text" ng-model="caption" id="caption" class="form-control" placeholder="Caption" required>
                            <div ng-messages="ProductForm.caption.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">
                                    Product caption is required.
                                </p>
                            </div>
                            <hr>
                            <label for="infoCard">
                                InfoCard
                            </label>
                            <textarea name="infoCard" ng-model="infoCard" id="infoCard" class="form-control" cols="30" rows="5" placeholder="infoCard"></textarea>
                            <hr>
                            <label>
                                Measure:&nbsp;
                            </label>
                            <input type="text" class="form-control"
                                ng-model="measureDefault"
                                data-animation="am-flip-x"
                                bs-options="obj.id as obj.caption for obj in getMeasuresList()"
                                placeholder="Measure"
                                bs-typeahead
                            >
                        </div>
                    </div> 
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div ng-show="error" class="text-center alert alert-danger">
                    <strong ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>